/*
COLOR SCHEME

Primary Color: #2393DA

*/

body {
    font-family: 'Raleway', sans-serif;
}

.primary-color {
    color: #2393DA !important;
}

.header-welcome {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.header-welcome2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.signup-button {
    border-radius: 50px !important;
    font-size: 1.2em;
}

.text-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.before-footer {
    background-color: #4C4981;
}

footer {
    background-color: #173F5F;
}

.about-content {
    line-height: 2em;
    font-size: 1.2em;
}

.blog-tag-button {
    border-radius: 50px !important;
    font-size: 1em;
}

.blog-read-more-button {
    border-radius: 50px !important;
}

.blog-tag-button:hover {
    text-decoration: none;
}

.second-block .card-header,
.second-block .card-body {
    padding: 0;
}

.second-block .card-header img {
    position: relative;
    width: 50rem;
    height: 18rem;
}

.blog-tag {
    position: absolute;
    z-index: 99;
    top: 1em;
    left: 1em;
}

.blog-tag-button-2 {
    font-size: .8em;
    border-radius: 50px !important;
}

.blog-show-button {
    font-size: 1.3em;
    border-radius: 50px !important;
}

.blog-tag .shadow {
    box-shadow: 0 .5rem .5rem rgba(231, 226, 226, 0.449)!important
}

.second-block .card {
    border: 0;
}

.most-popular li,
.most-recent li {
    list-style-type: none;
}

.card:hover {
    box-shadow: 0 1rem 1rem rgba(231, 226, 226, 0.449)!important
}

.blog-text {
    font-size: 1.2em;
}


/* Auth */

.auth {
    height: 100vh;
    background: linear-gradient(90deg, #314755 0%, #26a0da 100%);
}

.auth main {
    border-radius: 25px;
    margin: 0;
    padding: 0;
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.auth-left {
    background: #26a0da;
}

.onboarding-box {
    position: absolute;
    z-index: 99;
    margin: 0;
    padding: 0;
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.onboard-box {
    /* background-color: #173F5F; */
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
    border-radius: 10px;
}

.onboard-next-button,
.onboard-prev-button {
    border-radius: 50px !important;
    border: 2px solid;
    font-size: 1.2em;
    transition: background-color .5s;
    color: #fff !important;
}

.onboard-next-button:hover {
    border-radius: 50px !important;
    font-size: 1.2em;
    color: #fff;
}

.profile-header-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.header-text {
    word-wrap: break-word;
}

.jumbotron.campus-jumbotron {
    background-image: linear-gradient(to right, #328cf257, #328cf28b), url('../img/campus.png');
    background-size: cover;
    background-position: center;
}

.about-aksu {
    line-height: 1.9em;
    font-size: 1.2em;
}