/*
COLOR SCHEME

Primary Color: #2393DA

*/

body {
    font-family: 'Raleway', sans-serif;
}

.primary-color {
    color: #2393DA !important;
}

.header-welcome {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.header-welcome2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.signup-button {
    border-radius: 50px !important;
    font-size: 1.2em;
}

.text-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.before-footer {
    background-color: #4C4981;
}

footer {
    background-color: #173F5F;
}

.about-content {
    line-height: 2em;
    font-size: 1.2em;
}

.blog-tag-button {
    border-radius: 50px !important;
    font-size: 1em;
}

.blog-read-more-button {
    border-radius: 50px !important;
}

.blog-tag-button:hover {
    text-decoration: none;
}